doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title numeronyms.dev
    link(rel="stylesheet" href="./styles/styles.min.css")
  body.font-oldenburg
    h1.text-4xl Numeronyms